.person-card {
	text-align: start;
	font-size: 14px;
	margin: 2rem;
	width: max-content;
	transition: all 1s;
	min-width: 250px;
	padding: 1rem;
}
.person-card:hover {
	transform: scale( 1.5 );
}
.person-card__logo {
	font-size: xx-large;
	color: cadetblue;
	font-family: cursive;
	text-align: center;
	border-bottom: 2px solid;
}
.person-card__loggedIn {
	color: gray;
	font-size: 12px;
	text-align: end;
}